---
import { config as mainConfig } from "@/config/main";
import { config as pageConfig } from "@/config/pages/index";
const config = {
  main: mainConfig,
  page: pageConfig,
};
import { productos } from "@/config/productos";

import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

import Layout from "@/layouts/Layout.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

import HalfAndHalf from "@/components/section/HalfAndHalf.astro";
import Content80 from "@/components/section/new/Content80.astro";
import ProportionalBento from "@/components/section/new/ProportionalBento.astro";

import Hero from "@/components/section/new/page/index/Hero.astro";

import { Button } from "@/components/ui/button";
import { Accordion } from "@/components/my-ui/accordion";
import { Input } from "@/components/ui/input";
import { LogoBelt } from "@/components/section/new/LogoBelt";
import LabeledAccordion from "@/components/my-ui/LabeledAccordion.astro";

import { HeaderNav } from "@/components/layout/HeaderNav";
import { DisplayCarousel } from "@/components/my-ui/page/index/display-carousel";

function randomIntFromInterval(min: number, max: number) {
  // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min);
}
---

<Layout title={config.main.shortTitle} class={cn("w-full")}>
  <header
    class={cn(
      "col-[fullbleed]",
      "grid grid-cols-subgrid",
      "bg-[#364A60] text-white",
      "py-2",
      "text-xl",
    )}
  >
    <div class="flex justify-between md:hidden col-[fullbleed] pl-4 pr-6">
      <div class="flex gap-4 items-center">
        <Icon name="lucide:menu" />
        <img alt="logo" src="/logo.jpg" class="h-16" />
      </div>
      <div class="flex gap-4 items-center">
        <Icon name="fa6-solid:magnifying-glass" />
        <Icon name="fa6-solid:bag-shopping" />
      </div>
    </div>
    <div class="hidden md:grid grid-cols-subgrid col-[fullbleed]">
      <div class={cn("col-[fullbleed]", "grid grid-cols-[1fr_1fr_1fr]")}>
        <img alt="logo" src="/logo.jpg" class="h-16" />
        <div class="flex gap-2 items-center">
          <Input type="search" placeholder="¿Qué buscás?" />
          <Icon name="fa6-solid:magnifying-glass" />
        </div>
      </div>
      <div
        class={cn(
          "col-[fullbleed]",
          "justify-between items-center",
          "flex",
          "pr-4",
        )}
      >
        <HeaderNav client:only="react" />
        <Icon name="fa6-solid:bag-shopping" class={""} />
      </div>
    </div>
  </header>

  <main class={cn("col-[fullbleed]", "grid grid-cols-subgrid")}>
    <section class={cn("col-[fullbleed]")}>
      <!-- <img src="/imagenes/panel-principal/1.jpg" class="object-cover h-128 w-full" /> -->
      <DisplayCarousel
        images={[
          "/imagenes/panel-principal/1.jpg",
          "/imagenes/panel-principal/2.jpg",
          "/imagenes/panel-principal/3.jpg",
          "/imagenes/panel-principal/4.jpg",
          "/imagenes/panel-principal/5.jpg",
          "/imagenes/panel-principal/6.jpg",
          "/imagenes/panel-principal/7.jpg",
          "/imagenes/panel-principal/8.jpg",
          // TODO
          // "/imagenes/panel-principal/9.jpg",
          "/imagenes/panel-principal/10.jpg",
        ]}
        client:only="react"
      />
    </section>

    <section
      class="col-[fullbleed] md:col-[content] flex flex-col items-center"
    >
      <h1 class="text-2xl underline-offset-4 underline text-center pt-8 pb-12">
        Listado de productos
      </h1>

      <div
        class={cn(
          "grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4",
          "gap-4",
        )}
      >
        {
          [...productos.remeras, ...productos.ceramica, ...productos.ofertas]
            // .sort((a, b) => Math.random() * 2 - 1)
            .map((producto) => {
              return (
                <div class="flex flex-col gap-1">
                  <img src={producto.imgSrc} class="aspect-square" />
                  <h2>{producto.name}</h2>
                  <p>{producto.precio}</p>
                </div>
              );
            })
        }
      </div>
    </section>
  </main>

  <footer>???</footer>
</Layout>
